<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘 해야할 일</title>
    
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
    <div>
        오늘 해야할 일 <br>
        <form action="/api/todolist" method="post">
            <textarea id="content" name="content"></textarea><br>
            <input type="submit" id="button" value ="등록">
        </form>
    </div>
    <div>
        <% for (var i = 0;i < todos.length;i++){ %> 
            
                <form action="/api/update/<%=todos[i]._id %>" method="post">
                    <input type="text" name="content" value="<%= todos[i].content %>"> 
                    <%= todos[i].createdAt%>
                    <input type="submit" id="modify_btn" value ="수정">
                </form>
                <form action="/api/remove/<%=todos[i]._id %>" method="post">
                    <input type="submit" id="remove_btn" value ="삭제">
                </form>
            
        <% } %>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/upload/api/post">
        <input type = "file" name="file_upload"/>
        <input type = "submit" value = "업로드"/>
    </form>
</body>
</html>